{% extends "base.html" %}

{% block title %}
    Inserate
{% endblock %}

{% block content %}
    <div class="d-flex flex-wrap flex-row-reverse mx-5 mt-3 mb-0">
        {% if g.user %}
            <a class="btn btn-primary" href="{{ url_for('post.create') }}">Create</a>
        {% endif %}
    </div>
    <div class="container p-2 p-md-5">
        {% for post in posts %}
            <div class="container border rounded bg-light col-12 col-md-8 mb-5 mt-3" >
                <div class="container" name="upper">
                    <div class="p-0">
                        <h1 class="mb-0 mt-1">{{ post["title"] }}</h1>
                        <ul class="d-flex flex-wrap ps-0 mb-0 text-secondary">
                            {% set subjects = post["subject"].split(",") %}
                            {% for subject in subjects %}
                                <li class="list-group-item">
                                   <small>{{ subject }}&nbsp;</small> 
                                </li>
                            {% endfor %}
                        </ul>
                        <hr class="mx-0 my-1 p-0">
                    </div>
                </div>
                <div class="container">
                    <div style="overflow-wrap: break-word;">
                        {{ post["body"]}}
                    </div>
                    <hr class="mx-0 my-1 p-0">
                    <div class="d-flex flex-wrap justify-content-between">
                        <small>
                            Von der {{post["grade_from"] }}. Klasse bis zur {{post["grade_to"] }}. Klasse.
                        </small> 
                        <p>
                            <a class="btn btn-info" data-bs-toggle="collapse" href="#contact{{ post['id'] }}" role="button">
                              Kontakt
                            </a>
                        </p>
                          <div class="collapse" id="contact{{ post['id'] }}">
                            <div class="card card-body ">
                                Email-Adresse: {{ post["email"] }}
                            </div>
                          </div>
                    </div> 
                </div>


                <div class="px-2 d-flex flex-wrap justify-content-between pb-2">
                    <small class="text-secondary">erstellt am {{ post["created"] }}</small>
                    {% if g.user['id'] == post['offerer'] %}
                    <div class="d-flex flex-row flex-wrap px-2 pb-2">
                        <form action="{{ url_for('post.delete', id=post['id']) }}" method="post">
                            <input class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Bist du sicher?')">
                        </form>
                        <a class="btn btn-primary ms-3" href="{{ url_for('post.edit', id=post['id']) }}">Bearbeiten</a>
                    </div>
                    {% endif %}
                </div>
                
            </div>
        {% endfor %}
    </div>    
{% endblock %}